{% extends 'base.html' %}
{% block list_sites %}
<main class="flex-grow-1">
	<div class="container-lg mt-3">
		<h1>Сайты</h1>
		
		<div class="table-responsive">
			<table class="table table-bordered table-hover text-nowrap" data-test="urls">
				<thead>
					<tr>
						<th>ID</th>
						<th>Имя</th>
						<th>Последняя проверка</th>
						<th>Код ответа</th>
					</tr>
				</thead>
				<tbody>
					{% if check_sites_info %}
						{% for check_info in check_sites_info %}
							<tr>
								<td>{{ check_info.id }}</td>
								<td><a href="{{ url_for('analyze_site', id_url=check_info.id) }}">{{ check_info.name }}</a></td>
								{% if check_info.max %}
									<td>{{ check_info.max }}</td>
								{% else %}
									<td></td>
								{% endif %}
								{% if check_info.status_code %}
									<td>{{ check_info.status_code }}</td>
								{% else %}
									<td></td>
								{% endif %}
							</tr>
						{% endfor %}
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</main>
{% endblock %}